{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ team.name }}</h1>
            <ul>
                {% for user in users %}
                    <li>{{ user.user_id.first_name }} {{ user.user_id.last_name }}
                        <a href="{% url 'task:team-delete-user' team.id %}">
                            <button type='button' class="btn btn-primary">Delete from Team</button></a>
                    </li>
                {% endfor %}
            </ul>
        <h2>Dodać nowego członka Team'u?</h2>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    <br>
    <p>
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-primary">Back</button></a>
    </p>
    </div>
{% endblock %}