{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>Czy chcesz usunać {{ team.user_id.first_name }} {{ team.user_id.last_name }} z Team'u:<br>
            {{ team.name }}</h1>
        <form method="POST">{% csrf_token %}
            <p>
                <button name='btnyes' type="submit" class="btn btn-primary">Yes</button>
                <button name="btnno" type="submit" class="btn btn-primary">No</button>
            </p>
        </form>
    </div>
{% endblock %}