{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
    <h1>Request change task</h1>
        {% for request_task in object_list %}
            {% if request_task.status == '1' %}
                <li>
                    {{ request_task.title }}
                    <a href="{% url 'task:request-approval' request_task.id %}">
                        <button type="button" class="btn btn-primary">Check</button></a>
                </li>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}