{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h2>Klient numer {{ customer.id }}</h2>
        <p>{{ customer.name }}</p>
        <p>{{ customer.address }}</p>
        <p>{{ customer.city }}</p>
        <p>{{ customer.country }}</p>
        <p>{{ customer.email }}</p>
        <p>
            <a href="{% url 'customer:update-customer' customer.id %}">
                <button type="button" class="btn btn-primary">Update</button></a><br><br>
            <a href="{% url 'customer:delete-customer' customer.id %}">
                <button type="button" class="btn btn-primary">Delete</button></a><br><br>
            <a href="{% url 'customer:list-customer' %}">
                <button type="button" class="btn btn-primary">Back</button></a>
        </p>
    </div>
{% endblock %}