{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h2> Lista klientów </h2>
        <p><a href="{% url 'customer:form-customer' %}">
            <button type="button" class="btn btn-primary">New customer</button>
        </a>
        </p>

        <ol>
            {% for customer in object_list %}
                <li>
                    Nazwa: {{ customer.name }}<br>
                    Email: {{ customer.email }}<br>
                    NIP: {{ customer.tax_number }}<br>
                    <a href="{% url 'customer:details-customer' customer.id %}">
                        <button type="button" class="btn btn-primary">Details</button>
                    </a><br><br>
                </li>
            {% endfor %}
        </ol>

    </div>
{% endblock %}