{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger
    {% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <form>
            {{ form }}
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
{% endblock %}
