{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger
    {% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
    </ul>
    <div class="container">
      <form method="POST"> {%csrf_token%}
      {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
{% endblock %}