{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>Invoice Number: {{ invoice.number }} /
            {{invoice.date_created|date:'M'}} /
            {{invoice.date_created|date:'Y'}}</h1>
        <p>Client: </p>
        <p>{{ invoice.id_customer }}</p>
        <p>Tasks:</p>
            {% if not invoice.id_task.all %}
        <p>AIN NO TASKS HERE BWOOOOY</p>
            {% endif %}
            {% for task in invoice.id_task.all %}
        <p>{{ task.title }}</p>
        <a href="{% url 'task:task-detail' task.id %}">
            <button type="button" class="btn btn-primary">Task detail</button></a>
            {% endfor %}
            {% if invoice.id_discount %}
        <p>Discount: {{ invoice.id_discount }} %</p>
            {% endif %}
        <a href="{% url 'invoice:invoice-list' %}">
            <button type="button" class="btn btn-primary">Back</button></a>
    </div>
{% endblock %}