{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>Invoices</h1>
        <ul>
            {% for invoice in object_list %}
            <li> Numer faktury: {{ invoice.number }} wystawiona dla: {{invoice.id_customer}}
                <a href="{% url 'invoice:invoice-detail' invoice.number %}">
                    <button type="button" class="btn btn-primary">Details</button></a>
            {% endfor %}
        </ul>
        <br>
        <p>
            <a href="{% url 'invoice:customer-choice' %}">
                <button type="button" class="btn btn-primary">Create new invoice</button></a>
            <a href="{% url 'home' %}">
                <button type="button" class="btn btn-primary">Home</button></a>
        </p>
    </div>
{% endblock %}