{% extends "base.html" %}

{% block title %}Profile detail{% endblock %}

{% block content %}
    <div class="container">
        {{user.username}}<br>
        {{user.email}}<br>
        User name: {{profile.user}}<br>
        {{profile.specialization}}<br>
        {{profile.country}}<br>



    {% if profile.upload %}
        <img src="{{ profile.upload.url }}">
    {% else %}
        <p>No picture</p>
    {% endif %}
        <p>
            <a href="{% url 'accounts:update-profile' %}">
                <button type="button" class="btn btn-primary">Update Profile</button></a>
        </p>
        <p>
            <a href="{% url 'home' %}">
                 <button type="button" class="btn btn-primary">Back</button></a>
            {% if user.is_manager %}
                <a href="{% url 'accounts:list-profile' %}">
                    <button type="button" class="btn btn-primary">User List</button></a>
            {% endif %}
        </p>

    </div>
{% endblock %}