{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger
    {% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Hi {{ user.first_name }}!</h1>
                <p>
                    <a href="{% url 'accounts:detail-profile' user.id%}">
                        <button type="button" class="btn btn-primary">Your Profile</button></a>
                </p>
                <br>
            <h2>Your active tasks:</h2>
                {% for task in tasks %}
                    <ul>
                        <li><a href="{% url 'task:task-detail' task.id%}">{{ task.title }}</a></li>
                    </ul>
                {% endfor %}
                <br>
                <p>
                    <a href="{% url 'task:task-create' %}">
                    <button type="button" class="btn btn-primary">Create new task</button></a>
                </p>
            <h2>Your Teams: </h2>
                {% for team in teams %}
                    <ul>
                        <li><a href="{% url 'task:team-add' team.id %}">{{ team.name }}</a></li>
                    </ul>
                {% endfor %}

        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Login</button></a>


    </div>
{% endif %}
{% endblock %}