{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'accounts:update-profile' %}"><button>Update profile</button></a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'accounts:list-profile'%}"><button class="btn btn-primary">User list</a></button><br><br></p>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'accounts:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}